@import url("https://fonts.googleapis.com/css?family=Lato|Rubik:700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  .body {
    font-family: "Lato", sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    .title {
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}
