.Navbar {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid lightgray;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik", sans-serif;
    width: 100%;
    h1 {
      font-size: 30px;
    }
  }
  .bottom {
    text-align: right;
    margin-top: 10px;
    font-family: "Lato", sans-serif;

    span {
      opacity: 0.6;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    margin: 0 5px;
  }
  a:hover {
    opacity: 1;
  }

  .nav-right {
    width: 235px;
    display: flex;
    justify-content: space-between;
    a {
      margin: 0;
      font-size: 17.5px;
      opacity: 0.6;
    }
    .activeNavLink {
      opacity: 1;
    }
  }
}
