.projects-main {
  display: flex;
  justify-content: space-between;
  .left {
    border: 1px solid gray;
    border-radius: 1px;
    width: 530px;
    padding: 10px;
  }
  .right {
    border: 1px solid gray;
    border-radius: 1px;
    width: 250px;
    padding: 10px;
  }
}
