.top {
  text-align: left;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  h2 {
    color: #000;
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  .profile-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      background: #d8d8d8;
      border-radius: 50%;
      height: 182px;
      width: 182px;
    }
    .location {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      p {
        font-size: 16px;
        padding-bottom: 5px;
      }
    }
  }
  .profile-right {
    line-height: 1.6;
    width: 50%;
    a {
      color: red;
      text-decoration: none;
      border-bottom: 2px solid red;
      padding-bottom: 3px;
    }
  }
  .currently {
    margin: 10px 0;
    color: #0066ff;
  }
}
