@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Lato", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
