@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.App {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.nav-wrapper,
.main-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.main-wrapper {
  height: 90vh;
}

.footer-wrapper {
  background: #000;
  color: #fff;
}
