$mobile: 600px;
$tablet: 1050px;
.footer {
  height: 60px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $tablet) {
    display: none;
  }
  .left {
    min-width: 125px;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .right {
    width: 85%;
    text-align: right;
  }
}
