$mobile: 600px;
$tablet: 1050px;
.top {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    color: #0066ff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  a:hover {
    background: rgb(238, 238, 238);
    border-radius: 50px;
  }
  h1 {
    font-size: 100px;
    @media (max-width: $mobile) {
      font-size: 70px;
    }
    font-weight: 900;
  }
  h2 {
    color: #0066ff;
    font-size: 22px;
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
  .home {
    margin-top: 10px;
    padding: 10px;
  }
}
.bottom {
  height: 10vh;
  text-align: center;
}
