.top {
  height: 82.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 100px;
    font-weight: 900;
  }
  h2 {
    color: #0066ff;
    font-size: 22px;
  }
  .home {
    margin: 20px 0;
    padding: 10px;
  }
}
.bottom {
  height: 7.5vh;
  text-align: center;
}
