.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 10vh;
  img {
    height: 52px;
    width: 52px;
  }
  a {
    text-decoration: none;
    color: rgb(126, 126, 126);
    padding: 5px 10px;
  }
  .center {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
  .activeNav {
    color: #000;
  }
  .contact-tab {
    border: 2px solid #0066ff;
  }
  .contact-tab:hover {
    color: #000;
  }
}
